[submodule "tests/elf2hex"]
	path = tests/elf2hex
	url = https://github.com/sifive/elf2hex.git
[submodule "spike_dpi/riscv-isa-sim"]
	path = spike_dpi/riscv-isa-sim
	url = https://github.com/riscv/riscv-isa-sim.git
[submodule "tests/riscv-torture"]
	path = tests/riscv-torture
	url = git@github.com:ucb-bar/riscv-torture.git
[submodule "tests/riscv-tests"]
	path = tests/riscv-tests
	url = git@github.com:msyksphinz-self/riscv-tests.git
[submodule "src/fpnew"]
	path = src/fpnew
	url = https://github.com/msyksphinz-self/fpnew.git
[submodule "tools/espresso-logic"]
	path = tools/espresso-logic
	url = https://github.com/classabbyamp/espresso-logic.git
