verilator_sim/msrh_tb_*
verilator_sim/obj_dir_*
verilator_sim/simx.fst
verilator_sim/*.log
verilator_sim/log/

questa_sim/*.log
questa_sim/.dbarInfo
questa_sim/vsim.dbar
questa_sim/*.wlf
questa_sim/work

vivado_*/*.jou
vivado_*/*.log
vivado_*/*.wdb
vivado_*/*.pb
vivado_*/xsim.dir
vivado_*/.Xil
vivado_*/dpi.so
vivado_*/*.vcd
vivado_*/*.str
vivado_*/out.wcfg
vivado_*/*.dcp
vivado_*/*.xpr
vivado_*/*.rpt

spike_dpi/*.so
spike_dpi/spike_main
spike_dpi/*.o

src/decoder*.sv

*/sim_filelist.f
*/dump.json
